.button-ui-1{
    width: 100%;
    height: auto;
    padding: 28px;
    padding-left: 40px;
    padding-right: 40px;
    background: #EE964B;
    color:#161616;
    white-space: nowrap;
    font-size: 16px;
    font-family: $font_CG;
    font-weight: 400;
    border-radius: 50px;
    box-shadow: rgba($color: #EE964B, $alpha: .5) 0 0 50px 7px;
    transition: .3s ease-in-out;
    &:hover{
        background: #e0934f;
    }
    &:active{
        background: #eb872f;
        transition: .001s ease;
    }
}
.button__ui__1-mini{
    width: 100%;
    height: auto;
    padding: 18px;
    padding-left: 20px;
    padding-right: 20px;
    background: #EE964B;
    max-width: 180px;
    color:#161616;
    white-space: nowrap;
    font-size: 16px;
    font-family: $font_CG;
    font-weight: 400;
    border-radius: 50px;
    box-shadow: rgba($color: #EE964B, $alpha: .5) 0 0 50px 7px;
    transition: .3s ease-in-out;
    &:hover{
        background: #e0934f;
    }
    &:active{
        background: #eb872f;
        transition: .001s ease;
    }
}
// input ui

.input_ui_number{
    width: 100%;
    background: #ffffff;
    border-radius: 68px;
    border:none;
    color:black;
    font-size: 25px;
    font-family: $font_CG;
    padding: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
    transition: .3s ease-in-out;
    &::placeholder{
        color:rgb(121, 121, 121);
        font-family: $font_CG;
    }
}
.background__images{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    z-index: 0;
    z-index: -1;
    left: 0;
    & > .bg_1{
        position: absolute;
        right: 0%;
        top:0;
        max-width: 1550px;
        z-index: -1;
    }
    & > .bg_2{
        position: absolute;
        left: 0;
        top:50%;
        transform: translateY(-50%);
        max-width: 800px;
        width: 500px;
        z-index: -1;
    }
    & > .bg_3{
        position: absolute;
        left: 0;
        top:50%;
        transform: translateY(-50%);
        max-width: 800px;
        width: 500px;
        z-index: -1;
    }
    & > .bg_4{
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translateY(100px);
        max-width: 800px;
        width: 500px;
        z-index: -1;
    }
}

.mobile__p{
    display: none;
}
.mobile__h2{
    display: none;
}