@import "_reset";
@import "_fonts";
@import "_variable";
@import "_ui";
@import "slick";

body{
    font-family: $font_CG;
    background: #dfdfdf;
}
header
{
    padding-top: 30px;
    & .burger{
        display: none;
    }
    & > .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 40px;
        & > .logo{
            padding-left: 80px;
            display: flex;
            align-items: center;
            & > h1{
                font-family:$font_CG;
                font-size: 35px;
                font-weight: 400;
                color: rgba($color: #161616, $alpha: .8);
            }
        }
        & > nav{
            display: flex;
            align-items: center;
            & > .close{
                display: none;
            }
            & > .list{
                display: flex;
                & > li{
                    margin-right: 50px;
                    &:last-child{
                        margin-right: 0;
                    }
                    & > a{
                        color:rgba($color: #161616, $alpha: .5);
                        font-size: 18px;
                        font-weight: 400;
                        text-decoration: none;
                        white-space: nowrap;
                        transition: .3s ease-in-out , text-shadow .2s ease-in-out;
                        &:hover{
                            color:rgba($color: #b3b3b3, $alpha: .5);
                        }
                        &:active{
                            text-shadow: rgba($color: #6b6b6b, $alpha: 1) 0 0 20px;
                        }
                    }
                }
            }
        }
        & > .info{
            display: flex;
            align-items: center;
            & > .title{
                color:rgba($color: #161616, $alpha: .8);
                font-family: $font_CG;
                font-size: 25px;
                white-space: nowrap;
                font-weight: 400;
            }
            & > .button__wrapper{
                margin-left: 30px;
            }
        }
    }   
}
.main__page{
    & > main{
        & > .section__main{
            & > .backgraund_liner{
                position: absolute;
                top:-0;
                left: 0;
                width: 100%;
                height: 1080px;
                background: rgb(235,235,235);
                background: linear-gradient(200deg, rgba(235,235,235,0.75) 0%, rgba(255,255,255,0) 100%);
                z-index: -2;
            }
            & > .container{
                display: flex;
                & > .left{
                    width: 70%;
                    & > .logo{
                        margin-left: 70px;
                        margin-top: 150px;
                    }
                    & > .pre{
                        color:rgba($color: #7A7A7A, $alpha: .8);
                        text-align: center;
                        transform: translateX(-100px);
                        padding-top: 50px;                   
                    }
                }
                & > .right{
                    width: 30%;
                    & > .list{
                        margin-top: 80px;
                        width: 100%;
                        position: relative;
                        z-index: 1;
                        & .slick-dots{
                            display: flex;
                            justify-content: center;
                            & > li{
                                width: 13px;
                                height: 13px;
                                background: #f3f3f3;
                                margin-right: 7px;
                                border-radius: 50%;
                                &:last-child{
                                    margin-right: 0;
                                }
                                &.slick-active{
                                    background: #EE964B;
                                }
                                & > button{
                                    font-size: 0;
                                }
                            }
                        }
                        & .wrapper{
                            margin-right: 20px;
                            &:last-child{
                                margin-right: 0;
                                & > .item{
                                    &:last-child{
                                        margin-bottom: 0;
                                    }
                                }
                            }
                            & > .item{
                                line-height: 1.2;
                                border-radius: 16px;
                                border-bottom-left-radius: 0;
                                display: inline-block;
                                padding: 26px;
                                padding-left: 22px;
                                padding-right: 22px;
                                color:#000000;
                                font-size: 18px;
                                background: rgba($color: #ffffff, $alpha: 1);
                                margin-bottom: 20px;
                                cursor: default;
                                transition: .3s ease-in-out;
                                &:hover{
                                    background: white;
                                    box-shadow: rgba(0, 0, 0, 0.096) 0 0 50px 2px;
                                }
                            }
                        }
                        & > li{
                            
                        }
                    }
                }
            }  
        }
        & > .section__work{
            padding-bottom: 70px;
            padding-top: 60px;
            & > .container{
                & > h2{
                    font-size: 85px;
                    font-weight: 400;
                    color:#000000;
                    margin-bottom: 30px;
                    & > span{
                        color:#EE964B;
                    }
                }
                & > .wrapper__video{
                    width: 100%;
                    height: auto;
                    & > iframe{
                        border-radius: 30px;
                        width: 100%;
                        height: 700px;
                    }
                }
            }
        }
        & > .section__work{
            padding-bottom: 70px;
            padding-top: 60px;
            & > .container{
                & > h2{
                    font-size: 85px;
                    font-weight: 400;
                    color:#000000;
                    margin-bottom: 90px;
                    & > span{
                        color:#EE964B;
                    }
                }
                & > .wrapper__list__items{
                    width: 100%;
                    max-width: 1400px;
                    margin-left: auto;
                    margin-right: auto;
                    padding-left: 100px;
                    padding-right: 60px;
                    
                    & .slick-dots{
                        display: flex;
                        margin-top: 40px;
                        justify-content: center;
                        & > li{
                            transition: .3s ease-in-out;
                            width: 13px;
                            height: 13px;
                            background: #f1f1f1;
                            border-radius: 50%;
                            margin-right: 7px;
                            &.slick-active{
                                background: #EE964B;
                            }
                            &:last-child{
                                margin-right: 0;
                            }
                            & > button{
                                font-size: 0;
                            }
                        }
                    }
                    & .slick-arrow{
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        transition: .3s ease-in-out;
                        font-size: 0;
                        z-index: 1;
                        &.slick-prev{
                            left: -100px;
                            width: 95px;
                            height: 95px;
                            background: url(/success/img/icons/arrow_slick_left.svg);
                        }
                        &.slick-next{
                            right: -80px;
                            width: 95px;
                            height: 95px;
                            background: url(/success/img/icons/arrow_slick_right.svg);
                        }
                        &:hover{
                            opacity: .7;
                        } 
                    }
                    
                    & > .list{
                        position: relative;
                        & .slick-track{
                            display: flex;
                        }
                        & .item{
                            transition: .3s ease-in-out;
                            z-index: 2;
                            margin-right: 20px;
                            border-radius: 30px;
                            background: rgba($color: #F9F9F9, $alpha: .95);
                            box-shadow: inset #00000018 0 0 40px 1px;
                            padding: 15px;
                            position: relative;
                            height: auto;
                            & > .box__shadow__dec__top{
                                position: absolute;
                                top:0;
                                left: 0;
                                width: 100%;
                                height: 80px;
                                border-radius: 30px;
                                border-bottom-left-radius: 0;
                                border-bottom-right-radius: 0;
                                background: linear-gradient(to bottom , #00000010 , #00000000);
                            }
                            & > .box__shadow__dec__left{
                                position: absolute;
                                top:0;
                                left: 0;
                                width: 80px;
                                height: 100%;
                                border-radius: 30px;
                                border-top-right-radius: 0;
                                border-bottom-right-radius: 0;
                                background: linear-gradient(to right , #00000017 , #00000000);
                            }
                            & .wrapper__card{
                                height: 100%;
                                border-radius: 30px;
                                border:solid 1px #EE964B;
                                padding: 30px;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                & > .logo{
                                    display: flex;
                                    justify-content: center;
                                    margin-top: 30px;
                                    margin-bottom: 40px;
                                }
                                & > h3{
                                    text-align: center;
                                    font-size: 19px;
                                    font-weight: 400;
                                    margin-bottom: 60px;
                                }
                                & > .wrapper__button{
                                    display: flex;
                                    justify-content: center;
                                    margin-bottom: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
        & > .section__feedback{
            position: relative;
            min-height: 300px;
            & > .background__gradient{
                position: absolute;
                left: 0;
                top:0;
                width: 100%;
                height: 100%;
                background-color: rgba($color: white, $alpha: .5);
                background: linear-gradient(to bottom , rgba($color: #FFFFFF, $alpha: .42) , rgba($color: #DCDCDC, $alpha: .52) , rgba($color: #FFFFFF, $alpha: .42) );
                z-index: 0;
            }
            & > .container{
                padding-bottom: 100px;
                position: relative;
                z-index: 1;
                display: flex;
                justify-content: space-between;
                padding-top: 100px;
                & > .left{
                    & > h3{
                        font-size: 50px;
                        font-weight: 400;
                        line-height: 1.1;
                        color:#000000;
                        margin-bottom: 30px;
                        & > span{
                            color:#EE964B;
                            font-weight: 600;
                        }
                    }
                    & > p{
                        color:#000000;
                        font-size: 20px;
                        font-weight: 400;
                        margin-bottom: 50px;
                        & > span{
                            color:#EE964B;
                        }
                    }
                    & > .wrapper__input{
                        width: 100%;
                        max-width: 800px;
                        margin-bottom: 20px;
                        & > p{
                            color:#CCCCCC;
                            font-size: 16px;
                            margin-top: 25px;
                            text-align: end;
                        }
                    }
                    & > .wrapper__button{
                        max-width: 306px;
                    }
                }
                & > .right{
                    padding-right: 100px;
                    & > .image__wrapper{
                        max-width: 500px;
                        & > p{
                            margin-bottom: 33px;
                            line-height: 1.5;
                            font-size: 18px;
                            color:black;
                            font-weight: 400;
                            text-align: center;
                            & > b{
                                font-weight: 600;
                            }
                        }
                    }
                    
                }
            }
        }
        & > .section__program{
            padding-top: 100px;
            padding-bottom: 100px;
            margin-bottom: 10px;
            position: relative;
            & > .container{
                & > h2{
                    font-size: 80px;
                    font-weight: 400;
                    & > span{
                        color:#EE964B;
                    }
                }
                & > p{
                    font-size: 30px;
                    color:#312626;
                    font-family: 300;
                }   
                & > .grid__container__program{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    grid-gap: 40px;
                    margin-top: 80px;
                    grid-row-gap: 80px;
                    & .slick-dots{
                        display: flex;
                        justify-content: center;
                        margin-top: 20px;
                        & > li{
                            max-width: 13px;
                            max-height: 13px;
                            width: 100%;
                            height: 100%;
                            padding: 0;
                            margin-right: 4px;
                            transition: .3s ease-in-out;
                            background: #f1f1f1;
                            &.slick-active{
                                background: #EE964B;
                            }
                            & > button{
                                font-size: 0;
                            }
                        }
                    }
                    & li{
                        position: relative;
                        background: #FFFFFF;
                        width: 100%;
                        border-radius: 40px;
                        padding: 20px;
                        &.hide__element{
                            display: none;
                        }
                        & > .box__shadow__dec__top{
                            position: absolute;
                            top:0;
                            left: 0;
                            width: 100%;
                            height: 80px;
                            border-radius: 30px;
                            border-bottom-left-radius: 0;
                            border-bottom-right-radius: 0;
                            background: linear-gradient(to bottom , #00000010 , #00000000);
                        }
                        & > .box__shadow__dec__left{
                            position: absolute;
                            top:0;
                            left: 0;
                            width: 80px;
                            height: 100%;
                            border-radius: 30px;
                            border-top-right-radius: 0;
                            border-bottom-right-radius: 0;
                            background: linear-gradient(to right , #00000017 , #00000000);
                        }
                        & > .image{
                            position: absolute;
                            box-shadow: rgba($color: #000000, $alpha: .8) 0 0 100px 5px;
                            width: 100%;
                            height: auto;
                            z-index: 0;
                            top:0;
                            left: 0;
                            border-top-left-radius: 30px;
                                border-top-right-radius: 30px;
                            & > img{
                                width: 100%;
                                border-top-left-radius: 30px;
                                border-top-right-radius: 30px;
                            }
                        }
                        & > .wrapper{
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            position: relative;
                            z-index: 1;
                            padding: 30px;
                            height: 100%;
                            border:solid 1px #EE964B;
                            border-radius: 30px;
                            & > .header{
                                display: flex;
                                align-items: center;
                                justify-content: space-around;
                                flex-direction: column;
                                height: 50%;
                                & > h3{
                                    font-size: 26px;
                                    color:white;
                                    text-align: center;
                                }
                                & > .price{
                                    display: block;
                                    color:#B8B8B8;
                                    font-size: 13px;
                                    font-weight: 400;
                                }
                            }
                            & > .wrapper__main{
                                height: 100%;
                                margin-top: 70px;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                & > p{
                                    font-size: 16px;
                                    font-weight: 400;
                                    text-align: center;
                                    line-height: 1.3;
                                }
                                & > .button__wrapper{
                                    display: flex;
                                    justify-content: center;
                                    margin-top: 60px;
                                    margin-bottom: 20px;
                                }
                            }
                        }
                    }
                }
                & > .wrapper__button{
                    width: 100%;
                    margin-top: 70px;
                    display: flex;
                    justify-content: center;
                    & > button{
                        width: 350px;
                    }
                }
            }
        }
        & > .section__facts{
            & > .container{
                padding-top: 50px;
                padding-bottom: 50px;
                & > h2{
                    font-size: 80px;
                    color:#444444;
                    font-weight: 400;
                    margin-bottom: 40px;
                    & > span{
                        color:#EE964B;
                    }
                }
                & > .list{
                    display: flex;
                    justify-content: space-between;
                    & .item__container{
                        background: white;
                        border-radius: 50%;
                        padding: 17px;
                        width: 300px;
                        height: 300px;
                        box-shadow: inset 23px 18px 33px 2px rgb(0 0 0 / 14%), inset 0 66px 15px 0px rgb(245 245 245), inset 0 99px 5px 0px rgb(255 255 255);
                        & > .wrapper{
                            position: relative;
                            border-radius: 50%;
                            border:solid 1px #EE964B;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            & > .dec{
                                position: absolute;
                                width: 20px;
                                height: 20px;
                                border-radius: 50%;
                                background: #EE964B;
                                top:-0;
                                left:70%;
                                transform: translateX(-50%);
                            }
                            & > h3{
                                text-align: center;
                                font-size: 32px;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:1700px){
    header>.container>.logo{
        display: flex;
        align-items: center;
        padding-left: 10px;
    }
    .main__page>main>.section__main>.container>.left>.logo
    {
        margin-left: 0px;
    }
}
@media (max-width:1600px){
    .main__page>main>.section__facts>.container>.list .item__container{
        width: 250px;
        height: 250px;
    }
    .main__page>main>.section__facts>.container>.list>li
    {
        width: 250px;
        height: 250px;
    }
    .main__page>main>.section__work>.container>h2{
        font-size: 55px;
    }
    .main__page>main>.section__program>.container>.grid__container__program>li>.wrapper>.header>h3
    {
        font-size: 19px;
    }
    .main__page>main>.section__work>.container>.wrapper__list__items>.list .item .wrapper__card
    {
        padding-left: 10px;
        padding-right: 10px;
    }
    header>.container>nav>.list>li
    {
        margin-right: 20px;
        &:last-child{
            margin-right: 0;
        }
    }
    .main__page>main>.section__main>.container>.right>.list>li
    {
        font-size: 14px;
    }
    header>.container>nav>.list>li>a
    {
        font-size: 14px;
    }
    .main__page>main>.section__feedback>.container>.right
    {
        padding-right: 0;
    }
    .main__page>main>.section__program>.container>.grid__container__program>li>.wrapper>.header
    {
        height: 30%;
    }
}
@media (max-width:1400px){
    .main__page>main>.section__facts>.container>.list .item__container{
        width: 220px;
        height: 220px;
    }
    header>.container>.info>.title{
        font-size: 20px;
        font-weight: 600;
    }
    header>.container>.logo>h1
    {
        font-size: 25px;
    }
    .container{
        width: 98%;
    }
    .main__page>main>.section__feedback>.container>.left>h3
    {
        font-size: 45px;
    }
    .main__page>main>.section__program>.container>.grid__container__program{
        grid-column-gap: 10px;
    }
}
@media (max-width:1200px){
    .main__page>main>.section__facts>.container>.list .item
    {
        
    }
    .background__images>.bg_4
    {
        transform: translateY(200px);
        width: 200px;
    }
    .main__page>main>.section__program>.container>.wrapper__button{
        display: none;
    }
    .hide__element{
        display: block !important;
    }
    .main__page>main>.section__program>.container>.grid__container__program li>.wrapper>.header>.price
    {
        display: none;
    }
    .grid__container__program .slick-list
    {
        display: grid;
    }
    .main__page > main > .section__program > .container > .grid__container__program li > .image
    {
        box-shadow: none;
    }
    .main__page>main>.section__program>.container>.grid__container__program li{
        margin-right: 20px;
    }
    .main__page>main>.section__program>.container>h2
    {
        font-size: 50px;
    }
    .main__page>main>.section__work>.container>.wrapper__video>iframe
    {
        height: 500px;
    }
    .main__page>main>.section__program>.container>.grid__container__program{
        grid-template-columns: none;
        display: block;
    }
    .main__page>main>.section__program>.container>p
    {
        font-size: 20px;
    }
    .background__images>.bg_1
    {
        max-width: 60% !important;
    }
    .main__page>main>.section__work>.container>h2
    {
        font-size: 40px;
    }
    .main__page>main>.section__main>.container>.right>.list .wrapper:last-child>.item:last-child
    {
        width: 100%;
    }
    .main__page>main>.section__main>.container>.right
    {
        width: 100%;
    }
    header>.container>.logo{
        order: 3;
    }
    .main__page>main>.section__main>.container>.left{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .main__page>main>.section__main>.container>.left>.pre
    {
        padding-top: 0;
        text-align: center;
        transform: none;
    }
    .background__images>.bg_1
    {
        max-width: 700px;
    }
    .main__page>main>.section__main>.container
    {
        flex-direction: column;
        & > div{
            width: 100%;
        }
    }
    .main__page>main>.section__main>.container>.left>.logo
    {
        margin-top: 40px;
    }
    .button-ui-1{
        padding:13px;
        padding-left: 25px;
        padding-right: 25px;
    }
    header>.container>.logo{
        padding-left: 0;
    }
    header>.container{
        grid-template-columns: auto;
        display: flex;
        justify-content: center;
    }
    header .burger
    {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        box-shadow: rgba($color: #EE964B, $alpha: .5) 0 0 50px 7px;
    }
    header>.container>.info>.title{
        display: none;
    }
    header > .container > nav
    {
        display: none;
        position: absolute;
        position: fixed;
        top:0;
        left: -100%;
        width: 100%;
        height: auto;
        background: #EE964B;
        padding: 40px;
        z-index: 5;
        transition: .5s ease-out;
        & > .close{
            display: block;
            position: absolute;
            right: 40px;
            top: 40px;
            cursor: pointer;
            transition: .3s ease-in-out;
            &:hover{
                opacity: .7;
            }
        }
    }
    header>.container>nav>.list>li>a:hover{
        color:rgb(255 255 255 / 50%);
    }
    header>.container>nav>.list{
        flex-direction: column;
        & > li{
            margin-right: 0;
            margin-bottom: 15px;
            & > a{
                font-size: 25px;
                font-weight: 600;
            }
        }
    }   
    .main__page>main>.section__program>.container>.grid__container__program li>.wrapper>.header>h3
    {
        font-size: 20px;
    }
    .main__page>main>.section__program>.container>.grid__container__program li>.wrapper>.header
    {
        height: 100px;
    }
    .main__page>main>.section__facts>.container>h2
    {
        font-size: 50px;
    }
}
@media (max-width:1000px){
    .main__page>main>.section__program>.container>.grid__container__program li>.wrapper>.header
    {
        height: 200px;
    }

    .main__page>main>.section__program>.container>.grid__container__program li>.wrapper>.header>h3
    {
        font-size: 30px;
    }
    .main__page>main>.section__feedback .button-ui-1{
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .main__page>main>.section__feedback>.container>.left>p
    {
        margin-top: 40px;
    }
    .main__page>main>.section__feedback>.container>.left>.wrapper__input
    {
        margin-top: 0;
        padding-left: 20px;
        margin-right: 0;
        padding-right: 20px;
    }
    .main__page>main>.section__feedback>.container>.left>p{
        padding-left: 40px;
    }
    .main__page>main>.section__feedback>.container>.right>.image__wrapper
    {
        width: 100%;
        display: flex;
        align-items: center;
        max-width: none;
        & > p{
            width: 100%;
            text-align: start;
        }
        & > img{
            max-width: 500px;
        }
    }
    .mobile__h2{
        display: block;
        text-align: center;
        font-size: 30px;
        font-weight: 400;
        & > span{
            color:#EE964B;
        }
    }
    .main__page>main>.section__work>.container>.wrapper__list__items .slick-arrow{
        display: none !important;
    }
    .main__page>main>.section__feedback>.container>.left
    {
        order: 1;
    }
    .main__page>main>.section__feedback>.container>.right
    {
        order: 0;
    }
    .main__page>main>.section__feedback>.container>.left>h3
    {
        display: none;
    }
    .main__page>main>.section__feedback>.container
    {
        flex-direction: column;
    }
    .main__page>main>.section__work>.container>.wrapper__list__items{
        padding: 0;
        padding-left: 20px;
    }
    .main__page>main>.section__work>.container>h2{
        font-size: 30px;
    }
    .main__page>main>.section__work>.container>h2
    {
        margin-bottom: 40px;
    }
    .main__page>main>.section__work
    {
        padding-top: 30px;
    }
    .main__page>main>.section__feedback>.container>.right>.image__wrapper>img
    {
        max-width: 260px;
    }
    .background__images>.bg_2{
        width: 300px !important;
    }
}
@media (max-width:900px){
    .main__page>main>.section__program>.container>.grid__container__program li>.wrapper>.header>h3
    {
        font-size: 20px;
    }
    .main__page>main>.section__program>.container>.grid__container__program li>.wrapper>.header
    {
        height: 130px;
    }
    .main__page>main>.section__program>.container>h2{
        font-size: 30px;
    }
    .main__page>main>.section__program>.container>p
    {
        font-size: 17px;
    }
    .main__page>main>.section__program>.container>.grid__container__program
    {
        margin-top: 30px;
    }
}
@media (max-width:500px){
    .main__page>main>.section__facts>.container>.list .item__container
    {
        width: 250px;
        height: 250px;
    }
    .main__page>main>.section__facts>.container>.list .item__container
    {
        margin-right: 0 !important;
    }
    .main__page>main>.section__facts>.container>h2
    {
        font-size: 30px;
    }
    .main__page>main>.section__program>.container>.grid__container__program li
    {
        margin-right: 0;
    }
    .background__images>.bg_4
    {
        display: none;
    }
    .main__page>main>.section__main>.container>.right>.list .wrapper
    {
        margin-right: 0;
    }
    .mobile__p{
        display: block;
        text-align: center;
    }
    .main__page>main>.section__program>.container>p.desktop
    {
        display: none;
    }
    .main__page>main>.section__program>.container>h2>b{
        display: none;
    }
    .main__page>main>.section__program>.container>h2{
        text-align: center;
    }
    .main__page>main>.section__program>.container>h2>span{
        color:#000000;
    }
    .main__page>main>.section__program .button__ui__1-mini{
        max-width: 160px;
        padding: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .main__page>main>.section__program>.container>.grid__container__program li>.wrapper{
        padding: 20px;
    }
    .main__page>main>.section__program>.container>.grid__container__program li>.wrapper>.wrapper__main>.button__wrapper
    {
        margin-top: 0;
    }
    .main__page>main>.section__program>.container>.grid__container__program li>.wrapper>.wrapper__main
    {
        margin-top: 100px;
    }
    .main__page>main>.section__program>.container>.grid__container__program li>.wrapper>.header>h3{
        font-size: 25px;
    }
    .main__page>main>.section__feedback>.container
    {
        padding-top: 0;
    }
    .main__page>main>.section__feedback>.container>.left>p
    {
        padding-left: 15px;
    }
    
    .mobile__h2
    {
        font-size: 23px !important;
    }
    .mobile__h2
    {
        margin-bottom: 30px;
    }
    .main__page>main>.section__feedback>.container>.right>.image__wrapper>p
    {
        font-size: 16px;
        margin-bottom: 0;
    }
    .main__page>main>.section__feedback>.container>.right>.image__wrapper>img
    {
        max-width: 133px;
    }
    .input_ui_number
    {
        padding: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .main__page>main>.section__feedback .button-ui-1
    {
        font-size: 28px;
        padding-top: 37px;
        padding-bottom: 37px;
    }
    .main__page>main>.section__feedback>.container>.left>.wrapper__button
    {
        padding-right: 20px;
        padding-left: 20px;
        max-width: 100%;
    }
    .main__page>main>.section__feedback>.container>.left>.wrapper__input>p
    {
        font-size: 12px;
    }
    .main__page>main>.section__work>.container>.wrapper__list__items
    {
        padding-left: 0;
    }
    .main__page>main>.section__work>.container>.wrapper__list__items>.list .item .wrapper__card>.logo>svg
    {
        width: 60px;
        height: 60px;
    }
    .main__page>main>.section__work>.container>.wrapper__list__items>.list .item .wrapper__card>.logo{
        margin-top: 0;
        margin-bottom: 50px;
    }
    .main__page>main>.section__work>.container>.wrapper__list__items>.list .item{
        transform: scale(.8);
    }
    .main__page>main>.section__work>.container>.wrapper__list__items>.list .item.slick-current{
        transform: scale(1);
    }
    .main__page>main>.section__work>.container>.wrapper__list__items>.list .item
    {
        margin-right: 0;
    }
    .main__page>main>.section__work>.container>.wrapper__list__items>.list .item .wrapper__card>h3
    {
        font-size: 18px;
    }
    .main__page>main>.section__work>.container>h2
    {
        font-size: 30px;
    }
    .main__page>main>.section__work>.container>.wrapper__video>iframe
    {
        height: 300px;
    }
    .main__page>main>.section__main>.container>.right>.list .wrapper>.item{
        width: 100%;
    }
    header>.container>.logo>h1
    {
        font-size: 17px;
        font-weight: 600;
    }
    header>.container>.info>.button__wrapper{
        margin-left: 0;
    }
    .button-ui-1{
        font-size: 10px;
        margin-left: 0;
    }
    .button__ui__1-mini{
        padding: 18px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 16px;
        max-width: 135px;
    }
    header>.container
    {
        justify-content: space-between;
        grid-gap:0;
    }
    header .burger{
        margin-right: 30px;
    }
    .main__page>main>.section__work>.container>h2
    {
        text-align: center;
    }
}